<article class="module width_full">
    <header><h3 class="tabs_involved">用户管理</h3>
            <ul class="tabs">
       			<li class="active"><a href="#tab1">查看所有</a></li>
        		<li><a href="#tab2">查看未激活</a></li>
    		</ul>
    </header>
    <div class="tab_container">
    		<div id="tab1" class="tab_content" style="display: block; ">
			<table class="tablesorter" cellspacing="0"> 
			<thead> 
				<tr>  
    				<th class="header headerSortDown">用户名</th> 
    				<th class="header">邮箱</th> 
    				<th class="header">创建时间</th> 
    				<th class="header">操作</th> 
				</tr> 
			</thead>
            <tbody id="tabl1_body" data-bind="template: { name: 'topic-template', foreach: data }"></tbody>
		    </table>
			</div><!-- end of #tab1 -->			
			<div id="tab2" class="tab_content" style="display: none; ">
			<table class="tablesorter" cellspacing="0"> 
			<thead> 
				<tr> 
   					<th class="header"></th> 
    				<th class="header">Comment</th> 
    				<th class="header">Posted by</th> 
    				<th class="header">Posted On</th> 
    				<th class="header">Actions</th> 
				</tr> 
			</thead>
				<tr> 
   					<td><input type="checkbox"></td> 
    				<td>Lorem Ipsum Dolor Sit Amet</td> 
    				<td>Mark Corrigan</td> 
    				<td>5th April 2011</td> 
    				<td><input type="image" src="images/icn_edit.png" title="Edit"><input type="image" src="images/icn_trash.png" title="Trash"></td> 
				</tr>
			</table>
			</div><!-- end of #tab2 -->
</article>
<!-- end of post new article -->
<script type="text/html" id="topic-template">
    <tr>
     <td data-bind="text: loginname"></td>
     <td data-bind="text: email"></td>
     <td data-bind="text: create_at"></td>
     <td>
     <input type="image" data-bind="click: $parent.userAct,style:{visibility:active()?'hidden':'visible'}" src="images/icn_edit.png"  title="Activate" />
     <input type="image" data-bind="click: $parent.userDel" src="images/icn_trash.png" title="Trash" /></td>
    </tr>
</script>
<script type="text/javascript">
	$(function(){
	    var param={};
        param.opr="get";
        $.post('/admin/manage_users',param,function(data){   
            //console.log(data);
            init(data);
		},"JSON");
        
     function init(data){
         
         for(var i=0;i<data.length;i++){
             data[i]['active']=ko.observable(data[i]['active']);
         }
         var ay=ko.observableArray(data);  
                  
         var viewModel={
                data:ay,
                userDel:function(user){
                   if(confirm("确定要删除吗？")){                      
                        $.post('/admin/manage_users',{opr:'remove',id:user['_id']},function(msg){              
                              alert(msg);
                              ay.remove(user);
                    	});
                   }
                },
                userAct:function(user){
                    $.post('/admin/manage_users',{opr:'act',id:user['_id']},function(msg){                      
                        //for(var i=0;i<ay.length;i++){
                            //if(ay[i]['_id']==user['_id']){
                               // viewModel['data'][i].active(true);
                                //break;
                            //}
                        //}
                        alert(msg);
                    });
                }
         }             
         ko.applyBindings(viewModel,$("#data_content")[0]);  
     }
     
	});
</script>
