<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%
		var headers = config.site_headers || [];
		for (var i = 0, l = headers.length; i < l; i++) { 
    %>
    <%- headers[i] %>
    <% } %>
    <% if (locals.topic) { %>
    <title>
        <%= config.name %></title>
    <% } else { %>
    <title>
        <%= config.description %></title>
    <% } %>
    <!-- Le styles -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/blog.css">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements  -->
    <!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!-- Le javascript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js" type="text/javascript" charset="utf-8" defer></script>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">
                    <%- config.site_logo || config.name %></a>
                <div class="nav-collapse">
                    <form id="search" method="get" target="_blank" action="http://www.google.com/search" class="navbar-search pull-left">
                        <input name="q" type="text" class="search-query" placeholder="Search">
                    </form>
                    <ul class="nav">
                        <li class="active"><a href="/">首页</a> </li>
                        <li style="display:none"><a href="#about">标签云</a> </li>
                        <li><a href="/about">关于</a> </li>
                        <li class='divider-vertical'></li>
                    </ul>
                    <ul class="nav pull-right">
                        <% if (locals.current_user) { %>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                              <%= locals.current_user.name %>
                              <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                              <li><a href="/setting"><i class="icon-cog"></i>设置</a></li>
                              <% if(current_user.is_admin){ %>
                              <li><a href="/admin"><i class="icon-pencil"></i>管理</a></li>
                              <% } %>
                              <!-- <li class="divider"></li> -->
                            </ul>
                        </li>
                        <li><a href='/signout'>退出</a> </li>
                        <% } else { %>
                        <li><a href='/signup'>注册</a> </li>
                        <li><a href='/signin'>登录</a> </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <%- body %>
        <hr>
        <footer>
			<p>&copy; v0.6.3 / 基于node 2012</p>
		</footer>
    </div>

</body>
</html>
