<div class="row">
    <div class="span9">
        <div class='panel'>
            <div class='header'>
                <ul class='breadcrumb'>
                    <li>
                        <a href='/'>主页</a>
                        <span class='divider'>
                            /
                        </span>
                    </li>
                    <li class='active'>
                        关于
                    </li>
                </ul>
            </div>
            <div class='inner'>
                <div class='topic_content'>
                    <h3>
                        关于作者
                    </h3>
                    <p>
                    </p>
                    <p>
                        苦逼前端开发者一枚（与我联系<a href='mailto:nodejs@126.com'>nodejs@126.com</a>）。
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="span3">
        <%- partial( 'sidebar') %>
    </div>
</div>
